@{
  Layout = "_Layout";
}

@model HairSalon.Models.Stylist
@using HairSalon.Models

<h2>Stylist Details</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)<h3>

@if(Model.Clients.Count != 0)
{
  <h3>Here are all of the clients selling this cuisine:</h3>
  <ul>
    @foreach(Client client in Model.Clients)
    {
      <li><h4>@Html.ActionLink($"{client.Name}", "Details", "Clients", new { id = client.ClientId })</h4></li>
    }
  </ul>
}
else
{
  <h3>There are no clients for this stylist.</h3>
}

<p>@Html.ActionLink("Edit stylist information", "Edit", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Delete stylist profile", "Delete", new { id = Model.StylistId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>