@{
  Layout = "_Layout";
}

@using HairSalon.Models;
@model HairSalon.Models.Stylist;

<h2>Edit Stylist Profile</h2>

<h4>Edit this item: @Html.DisplayFor(model => model.Name)</h4>

@using (Html.BeginForm())
{
    @Html.HiddenFor(model => model.StylistId)

    @Html.LabelFor(model => model.Name)
    @Html.EditorFor(model => model.Name)
    <br />
    @Html.LabelFor(model => model.Specialty)
    @Html.TextBoxFor(model => model.Specialty)

    <input type="submit" value="Save" />
}
<p>@Html.ActionLink("Back to stylist", "Details", new { id = Model.StylistId})</p>