@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client;

<h2>Client Informaion</h2>
<hr />
<h3>@Html.DisplayNameFor(model => model.Name): @Html.DisplayFor(model => model.Name)</h3>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Edit Client's information", "Edit", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Delete client's from the list", "Delete", new { id = Model.ClientId })