@{
  Layout = "_Layout";
}

@model HairSalon.Models.Client
<div class="container">
<h2>Edit client's information</h2>
<h4>Edit @Html.DisplayFor(model => model.Name) information</h4>

@using (Html.BeginForm())
{
  @Html.HiddenFor(model => model.ClientId)
  @Html.LabelFor(model => model.Name)
  @Html.EditorFor(model => model.Name)

  <input type="submit" value="Save" />
}

<div class="link-card">
<p>@Html.ActionLink("Delete client's from the list", "Delete", new { id = Model.ClientId })</p>
<p>@Html.ActionLink("Back to list", "Index")</p>
<p>@Html.ActionLink("Back to Home", "Index", "Home")</p>
</div>

</div>